<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.notary.mapper.BankMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.notary.domain.Bank">
        <id column="id" property="id"/>
        <result column="bank_name" property="bankName"/>
        <result column="agent_name" property="agentName"/>
        <result column="agent_id_code" property="agentIdCode"/>
        <result column="agent_tel" property="agentTel"/>
        <result column="agent_seal_url" property="agentSealUrl"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, bank_name, agent_name, agent_id_code, agent_tel, agent_seal_url, status, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_bank
        <where>
        </where>
        order by id desc
    </select>
</mapper>
